.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(219, 152, 152);
    height: 70vh;
    width: 70vh;
    margin: 50px auto;
    border: 3px solid rgb(17, 7, 59);
}

button {
    transform: translateX(calc(50vw - 50px));
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 0;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: rgb(65, 64, 64);
}

.wrapper div {
    margin: 5px;
    height: 22%;
    width: 22%;
    border: 1px solid rgb(100, 97, 97);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    opacity: 0.15;
}

.red {
    background-color: rgb(243, 1, 1);
}

.green {
    background-color: rgb(7, 126, 7);
}

.yellow {
    background-color: rgba(248, 248, 2, 0.856);
}

.blue {
    background-color: rgb(4, 4, 165);
}

.brown {
    background-color: rgb(94, 2, 2);
}

.pink {
    background-color: rgb(247, 35, 194);
}

.gold {
    background-color: goldenrod;
}

.violet {
    background-color: rgb(51, 12, 70);
}

.hidden {
    background-color: rgb(170, 167, 167);
}

.off {
    background-color: rgb(95, 86, 86);
}