.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(192, 106, 106);
    height: 70vh;
    width: 70vh;
    margin: 50px auto;
    border: 3px solid rgb(17, 7, 59);
}

.wrapper div {
    margin: 5px;
    height: 22%;
    width: 22%;
    border: 1px solid rgb(2, 2, 2);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    opacity: 0.15;
}

.red {
    background-color: rgb(243, 1, 1);
}

.green {
    background-color: rgb(7, 126, 7);
}

.yellow {
    background-color: rgba(248, 248, 2, 0.856);
}

.blue {
    background-color: rgb(4, 4, 165);
}

.brown {
    background-color: rgb(94, 2, 2);
}

.pink {
    background-color: rgb(247, 35, 194);
}

.gold {
    background-color: goldenrod;
}

.grey {
    background-color: rgb(71, 70, 70);
}

.hidden {
    background-color: rgb(116, 108, 108);
}

.off {
    background-color: rgb(158, 152, 152);
}